/* $primary: #5663ff;
$lightGray: #eff1f6; */

.form-section {
  background: white;
  max-width: 550px;
  margin: 3vh auto 0;
  padding: 0 20px;
  max-height: 75vh;
}

.form-section .round-image {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.form-section .round-image img {
  object-fit: cover;
  height: 100%;
  object-position: center;
}

.form-section .header {
  text-align: center;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(16, 35, 82, 0.02) 0 7px 50px 20px;
}

.form .title {
  margin: 10px 0;
}

.form-group .input {
  margin: 8px 0 12px;
  width: 100%;
  border-radius: 4px;
  display: block;
  border: none;
  font-size: 14px;
  background: #eff1f6;
  padding: 12px 12px;
}

.form-group .input-error {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: rgb(255, 192, 192);
  color: rgb(255, 34, 34);
}

.form-group .text-area {
  display: block;
  font-size: 14px;
  width: 100%;
  background: #eff1f6;
  border: none;
  border-radius: 4px;
  line-height: 1.3;
  resize: none;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}

.form-group .label {
  font-weight: 600;
}

.form button {
  margin-top: 30px;
  background: #5663ff;
  width: 100%;
  color: white;
  padding: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.form-section.link {
  text-align: center;
}
