.NavMain {
  position: sticky;
  background-color: transparent;
  left: 0;
  right: 0;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
}

.NavMain .logo {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1.2rem;
  z-index: 1;
}

.NavMain ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 600;
  font-size: 1.2rem;
}

.NavMain li {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 1.5rem;
  font-weight: 600;
}

.NavMain li svg {
  margin-right: 0.5rem;
  filter: invert(43%) sepia(88%) saturate(3991%) hue-rotate(224deg)
    brightness(98%) contrast(107%);
  position: relative;
  top: 0.4rem;
}

.NavMain ul li:not(:last-child) {
  margin-right: 1.5em;
}
